.service{
  padding-bottom: 100px;
}
.service-title{
  margin: 40px 0;
}
.service-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}



/*-------------------
About & Contact Page
---------------------*/
.about-area, .contact-area {
  display: flex;
  justify-content: space-between;
  margin: 70px 30px 0px 20px;
}
.about-img, .contact-img {
  width: 50%;
}
.about-text, .contact-text {
  width: 50%;
}
.about-text h1, .contact-text h1 {
  font-weight: 700;
  border-bottom: 3px solid #2baaec;
  display: inline-block;
  margin-bottom: 25px;
}
.about-img img, .contact-img img {
  width: 100%;
  float: right;
  padding: 20px 0px 20px 40px;
}
.contact-img, .contact-form{
  padding: 20px 0;
}


/*------------------
Not Found - 404 Page
--------------------*/
.not-found{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}


.container {
  margin: 0 auto;
}
.App {
  display: flex;
  justify-content: center;
}
.name {
  color: #15be63;
  text-decoration: underline;
}
.input-box {
  border: 2px solid #15be63;
  color: #15be63;
  padding: 7px 5px;
  width: 227px;
  transition: 0.7s;
  margin-top: 7px;
  font-weight: bold;
}
.input-box:first-child {
  margin-top: 24px;
}
.input-box:focus {
  outline: none;
}
.login-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.btn-out {
  margin: 28px;
}